@model DapperCRUD.Models.Bank

@{
    ViewData["Title"] = "Details";
    var PhotoImg = "/css/" + (@Model.Logo ?? "noimage.jpg");
}

<h1>Details</h1>

<div>
    <h4>Branch</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tel)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tel)
        </dt>
        <dd class="col-sm-10">
            <img class="w-100 lazyload radius-medium d-inline-block" src="@PhotoImg" style="object-fit: contain;" width="50" height="50">

        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
